__pycache__/
*.pyc
venv/
.env
# Keep code under `models/` but ignore large model weight/checkpoint folders
models/**/weights/
models/**/saved_models/
models/**/checkpoints/
.pytest_cache/
*.pyo
*.pyd
build/
dist/
*.egg-info/
node_modules/
/ .cache
/.mypy_cache
